<h1>Burger</h1>

<h2>Eat one for lunch</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
     <li>{{this.burger}}<button>Devour it</button></li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers are so good</h2>

<ul>
  {{#each burgers}}
    {{#if Eat}}
      {{> burgers/burger-block Eat=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Eat-Da-Burger</h2>
<form class="create-form" action= "/api/burgers" method="post">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger">
  </div>

   <button type="submit">Eat Burger</button>
</form>
